@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Thin.ttf');
    font-weight: 100;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-ExtraLight.ttf');
    font-weight: 200;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-ExtraBold.ttf');
    font-weight: 800;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Black.ttf');
    font-weight: 900;
}

:root{
    --pad: 1px;
    --spacing: 3px;
    --radius: 0px;

    --fore-color: #ffffff;
    --back-color: #353535;
    --body-back-color: #000000;
    --fore-accent-color: #ffa500;

    --inverted-back-color: white;
    --inverted-accent-color: black;

    --font-size: 30px;
    --font-weight: 400;

    --screen-lines: calc(4 / 8);
    --buttons-lines: 1;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: 'Montserrat', system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    box-sizing: border-box;
}

body, html {
    background-color: var(--body-back-color);
    padding:0px;
    margin:0px;
    height:100%;
    width:100%;
}

.wrapper {
    position: relative;
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0000009c;
    transition: cubic-bezier(0.65, 0.05, 0.36, 1) .2s;
    text-align: right;
    padding: calc(100vh/(var(--screen-lines) + var(--buttons-lines))*var(--screen-lines) + 20px + var(--pad)) calc(20px + var(--pad)) calc(20px + var(--pad)) calc(20px + var(--pad));
}

.menu.hidden {
    opacity: 0;
    pointer-events: none;
}

table.hidden {
    display: none;
}

#loading {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: ease-in-out .3s;
    pointer-events: none;
}

#loading.closed {
    opacity: 0;
}

.menu.closed {
    transform: translate(-100%, 0px);
}


body {
    box-sizing: border-box;
    padding: calc(env(safe-area-inset-top, 0px) + var(--pad)) calc(env(safe-area-inset-right, 0px) + var(--pad)) calc(env(safe-area-inset-bottom, 0px) + var(--pad)) calc(env(safe-area-inset-left, 0px) + var(--pad));
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    user-select: none;                          /* /\ */
}

td{
    position: relative;
}

td>button {
    background-color: var(--back-color);
    border-radius: var(--radius);
    border: none;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transition: ease-in-out .1s;
    font-size: var(--font-size);
    color: var(--fore-color);
    font-weight: var(--font-weight);
    display: flex;
    align-items: center;
    justify-content: center;
}

td>button>div{
    width: calc(var(--font-size)*1.4);
    height: calc(var(--font-size)*1.4);
    background-color: var(--inverted-accent-color);
}

.accent {
    color: var(--fore-accent-color);
}

.accent2 {
    font-size: calc(var(--font-size)*1.5);
    background-color: var(--fore-accent-color);
    color: var(--inverted-accent-color);
}

.radic {
    font-size: var(--font-size) !important;
}

.black {
    background-color: var(--body-back-color);
    color: var(--inverted-back-color);
}

.black:active {
    opacity: 0.5;
}

td>button:active {
    opacity: 0.8;
}

table{
    width: 100%;
    flex-grow: var(--buttons-lines);
    table-layout: auto;
    border-spacing: var(--spacing);
}

#screen {
    flex-grow: var(--screen-lines);
    position: relative;
}

#expression,
#result {
    color: var(--inverted-back-color);
    position: absolute;
    right: 30px;
}

#expression {
    white-space: nowrap;
    top: 30px;
    max-width: calc(100vw - 100px);
    overflow-x: auto;
}

#result {
    bottom: 30px;
    font-size: 2em;
    color: var(--fore-accent-color);
    overflow-wrap: anywhere;
    width: calc(100vw - 50px);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.closeBtn {
    position: absolute;
    top: 25px;
    left: 20px;
    width: 30px;
    height: 30px;
    background-color: white;
    transition: ease-in-out .2s;
    mask-size: 100% 100%;
}

#main .closeBtn {
    background-color: var(--inverted-back-color) !important;
}

.closeBtn.closed {
    transform: scale(0);
}

.infoBtn {
    position: absolute;
    top: 25px;
    right: 20px;
    width: 30px;
    height: 30px;
    background-color: white;
    transition: ease-in-out .2s;
    mask-size: 100% 100%;
}

.bars {
    mask-image: url('svgs/menu-outline.svg');
    -webkit-mask-image: url('svgs/menu-outline.svg');
}

.xMark {
    mask-image: url('svgs/close-outline.svg');
    -webkit-mask-image: url('svgs/close-outline.svg');
}

.nfoSvg {
    mask-image: url('svgs/information-circle-outline.svg');
    -webkit-mask-image: url('svgs/information-circle-outline.svg');
}

.backspace {
    mask-image: url('svgs/backspace-outline.svg');
    -webkit-mask-image: url('svgs/backspace-outline.svg');
}

#menuBtn:active {
    opacity: 0.5;
}

.menuContent {
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.info {
    justify-content: flex-start;
    text-align: center;
}

.info>*{
    margin-bottom: 10px;
}

a {
    text-decoration: underline;
    color: lightblue;
    white-space: nowrap;
}

hr {
    width: 80%;
}

.pref {
    justify-content: space-between;
}

.pref>div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pref>div>input, .pref>div>select{
    width: 50%;
}

.pref>div>button{
    width: 100%;
}

input[type="range"] {
    height: 7px;
}